.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin: 1rem;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #555;
	transition: 0.3s;
	border-radius: 25px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: 0.3s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #ccc;
}
input:checked + .slider:before {
	transform: translateX(24px);
}

body {
	background-color: rgba(15, 15, 15, 80);
	color: rgba(250, 250, 250, 20);
}
header {
	background-color: rgba(30, 30, 30, 70);
	color: rgba(230, 230, 230, 30);
	padding: 5px;
	margin: 10px;
	display: flex;
	justify-content: space-between; /* first and last links flush with edges */
	align-items: center;
}
.firstLink {
	padding-left: 20px;
}
.lastLink {
    padding-right: 20px;
}
header a {
	color: rgba(230, 230, 230, 30);
	background-color: rgba(30, 30, 30, 70);
}
a {
	background-color: rgba(15, 15, 15, 80);
	color: rgba(250, 250, 250, 20);
}
main {
	padding-left: 5%;
}
.download-btn{
	display: inline-block;
    padding: 8px 14px;
	border-radius: 6px;
	text-decoration: none;
	font-weight: 600;
	border: 1px solid #333;
}

body.light-mode {
	background-color: rgba(250, 250, 250, 20);
	color: rgba(15, 15, 15, 80);
}
body.light-mode header {
	background-color: rgba(230, 230, 230, 30);
	color: rgba(30, 30, 30, 70);
}
body.light-mode header a {
	color: rgba(30, 30, 30, 70);
	background-color: rgba(230, 230, 230, 30);
}
body.light-mode a {
	background-color: rgba(250, 250, 250, 20);
	color: rgba(15, 15, 15, 80);
}
body.light-mode .download-btn{
	display: inline-block;
    padding: 8px 14px;
	border-radius: 6px;
	text-decoration: none;
	font-weight: 600;
	border: 1px solid #ccc;
}
header.light-mode {
	background-color: rgba(30, 30, 30, 70);
	color: rgba(230, 230, 230, 30);
	padding: 5px;
	margin: 10px;
	display: flex;
	justify-content: space-between; /* first and last links flush with edges */
	align-items: center;
}
header.light-mode .firstLink {
	padding-left: 20px;
}
header.light-mode .lastLink {
    padding-right: 20px;
}
header.light-mode a {
	color: rgba(230, 230, 230, 30);
	background-color: rgba(30, 30, 30, 70);
}
header.light-mode a {
	background-color: rgba(15, 15, 15, 80);
	color: rgba(250, 250, 250, 20);
}


.hideText {
	display: none;
}
.showText {
	text-decoration: underline;
	text-decoration-color: #555;
	cursor: pointer;
}
.showText:hover + .hideText {
	display: flex;
	text-align: right;
	font-size: xx-small;
}

.exampleListItem {
    text-decoration: underline;
    font-size: smaller;
}

#cookie-banner, #cookie-modal {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #222;
	color: #fff;
	padding: 1em;
	z-index: 9999;
	display: none;
	flex-direction: column;
	gap: 0.5em;
}
#cookie-modal {
	top: 0;
	justify-content: center;
	align-items: center;
}
#cookie-modal form {
	background: #222;
	color: #fff;
	padding: 1em;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
button {
	margin-top: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

.verbatim{
	padding: 2px;
	background-color: #333;
	color: #f9f9f9;
}
.verbatimQuote{
	padding: 3px;
	background-color: #bbb;
	color: #090909;
}